@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
body:before {
          content: "";
          position: fixed;
          top: -10px;
          left: 0;
          width: 100%;
          height: 10px;

          -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
              -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
                         box-shadow: 0px 0px 10px rgba(0,0,0,.8);

          z-index: 100;
}

body {
  max-width: 680px;
  _width:expression(this.scrollWidth > 680 ? "680px" : "auto");
  font-family: "Lora",Georgia,"Times New Roman",serif;
  font-size: 16px; /* reset, specified in px so IE currentStyle works */
  background-color: #F7F4F1;
  color: rgba(0, 0, 0, 0.85);
  margin: 20px auto 8px auto; 
  padding: 0 8px;
  -webkit-user-select: text; /* selectable text for Chrome app support */
}

a {
  /* colored underlined links for XULRunner support */
  color: #355CCA;
  text-decoration: underline;
  cursor: pointer;
}

#main {
z-index: 1;
border-bottom: 1px dotted #CCC;
}

#text {
	line-height: 1.5;
	
/*
	border:1px solid #FFF;
-webkit-box-shadow: inset 0px 0px 4px #CCC;
-moz-box-shadow: inset 0px 0px 4px #CCC;
box-shadow: inset 0px 0px 4px #CCC;
padding: 10px;
margin: 10px 0;
*/
}

#text
{
padding:20px;
margin: 10px;
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
background:#FFF;
margin-bottom: 20px;
}
#text:before, #text:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
#text:after
{
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}

#text img {
  max-width: 100%;
}

.statBar {
  background-color: #999;
  height: 2em;
  line-height: 2em;
  margin: 4px 0;
  width: 100%;
  color: #f7f4f1;
  position: relative; /* to allow absolute positioned value */
  z-index: 0;
}
.opposed {
	background-color: #CC3300;
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019));
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
}

table {
  margin-bottom: 1.5em;
}

.statBar > span, .statLine > span {
  position: relative;
  z-index: 1; /* visible over stat value */
  white-space: nowrap; /* remain on single line so we can resize font based on width */
}
.statValue {
	background-color: #006699;
background: -moz-linear-gradient(top,  #4f6187 0%, #333e56 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f6187), color-stop(100%,#333e56));
background: -webkit-linear-gradient(top,  #4f6187 0%,#333e56 100%);
background: -o-linear-gradient(top,  #4f6187 0%,#333e56 100%);
background: -ms-linear-gradient(top,  #4f6187 0%,#333e56 100%);
background: linear-gradient(to bottom,  #4f6187 0%,#333e56 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f6187', endColorstr='#333e56',GradientType=0 );

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  /* width will be determined at runtime, 0-100% */
}

.choice {
-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
background:#EEE;
}

.choice label{
    line-height:20px;
    padding: 11px 8px 12px;
    display:block;
    border-color:#a9acaf;
    border-style:solid;
    border-width: 1px 1px 0px 1px;
cursor:hand;cursor:pointer;
}

.choice label:hover{
	background: #FFF;
	text-shadow: 0px 0px 3px #AAA;
	color:#000;
}

.choice .firstChild{
    border-top-width:1px;
}
/* IE doesn't support label:last-child */
.choice .lastChild{
    border-bottom-width:1px;
}
.choice .onlyChild{
    border-width:1px;
}

.choice .noBorder {
  border-width: 0;
}

input[type="radio"], input[type="checkbox"] {
  margin-right: 8px;
}

.saveGame>label {
  display:block;
}

.choice .disabled {
  color: gray;
}

input[type=password]:disabled {
  background-color: lightgray;
}

/* Reset for Firefox vs. Chrome */
input[type=email],input[type=password] {
  padding: 1px;
  margin: 2px 0;
}

h1 {
  font-size: x-large;
  font-weight: normal;
}

h2 {
  font-size: large;
  font-weight: normal;
}

#identity {
  float: right;
  display: none;
}

#identity > a {
  display: block;
  text-align: end;
}

#footer {
  margin:10px 0px 75px 0px;
}

#mobileLinks a img {
  border: 0;
}

.mobileBadges {
  margin: 0;
}

.spacedLink {
  margin-right:0.5em;
}

.spacedLink:last-child {
  margin-right:0;
}

#sharelist {
  margin: 0; /* Eliminate leading space before share links */
}

#sharelist li {
  line-height: 1cm; /* Don't let the links bunch up */
}

.alertify-cover {
  background-color: black;
  filter:alpha(opacity=50);
  opacity: 0.5;
}

#greybackground {
    position: fixed;
    width:100%;
    height:100%;
    background-color: black;
    filter:alpha(opacity=50);
    opacity: 0.5;
    top:0;
    left:0;
}

.savePassword {
  font-family: monospace;
  display: block;
}

.webOnly { /* We'll override this in JavaScript */
  display: none;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.625em;
  margin-bottom: 1em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.625em;
  margin-bottom: 1em;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

#main form {
  clear: both;
}

@media only screen and (max-width: 480px) {
  .definition{
    display: none;
  }
  
  #headerLinks {
    line-height: 2; /* For tapability */
  }

  .gameTitle {
    display: none;
  }

  #advertisement {
    margin: -8px;
  }
  
  .mobileBadges {
    float: none;
  }
  
  #header {
    margin-top: 30px;
  }

  /** Floating images should leave enough room for text */
  #text .alignleft, #text .alignright {
    max-width: 45%;
  }
  

  
}

.gameTitle {
	font-style:italic;
	margin: 0;
}

#author {
	margin:0;
	font-size:0.8rem;
	font-style:normal;
}
/*
button {
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  color: #777;
  color: rgba(0,0,0,.7);
  border: 1px solid #999;
  border: 0 rgba(0,0,0,0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
  cursor:hand;cursor:pointer;
}

button:hover, button:focus {
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
  background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
  background-image: -moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
  background-image: -o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
  background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}
*/



button
{
	-webkit-box-shadow: 0 6px 3px -6px #777;
	   -moz-box-shadow: 0 6px 3px -6px #777;
	        box-shadow: 0 6px 3px -6px #777;
	padding: 5px 10px;
	text-shadow: 1px 1px 1px #FFF;
	font-family: "Courier New", monospace;
	cursor: pointer;
	  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

button:hover {
	-webkit-box-shadow: 0 7px 3px -5px #777;
	   -moz-box-shadow: 0 7px 3px -5px #777;
	        box-shadow: 0 7px 3px -5px #777;
}



.next {
	font-size: large;
	width: 100%;
	margin-bottom: 20px;
}
input[type="radio"]:after {
    background-color: #AAA;
    border-radius: 25px;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                0 1px 1px hsla(0,0%,100%,.8);
    content: '';
    display: block;
    height: 14px;
    position: relative;
}
input[type="radio"]:checked:after {
    background-color: #769AFF;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                inset 0 2px 2px hsla(0,0%,100%,.4),
                0 1px 1px hsla(0,0%,100%,.8),
                0 0 2px 2px hsla(205, 100%, 50%, 0.4);
}

